.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1.3rem;
  padding-top: 1.5rem;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 5rem;
  margin-right: 0.5rem;
}

.nav-title {
  margin-left: 2rem;
}

.flex-link {
  display: flex;
  gap: 2rem;
}

.link {
  color: #246253;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.4rem;
  transition: 0.5s;
}

.link:hover {
  transform: translateY(-0.5rem);
  transition: 0.5s;
  color: #26413a;
}

.link:last-child {
  margin-right: 1.5rem;
}
