.nav {
  display: flex;
  gap: 2rem;
  align-items: flex-end;
  font-size: 1.3rem;
}

a {
  color: #246253;
  text-decoration: none;
}

.logout {
  font-size: 1.3rem;
  border-radius: 10px;
  text-decoration: none;
  padding: 0.3rem;
  border: 3px solid #246253;
  cursor: pointer;
  color: #246253;
}
