.container {
  padding: 0rem 4rem;
}

.label {
  font-size: 2rem;
  padding-left: 2rem;
}

.header-flex {
  display: flex;
  align-items: flex-start;
  gap: 5rem;
}

.follow {
  font-size: 1.5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.258);
  border-radius: 20px;
  padding: 1rem;
  border: 3px solid white;
  background-color: #246253;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.unfollow {
  font-size: 1.5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.258);
  border-radius: 20px;
  padding: 1rem;
  border: 3px solid white;
  background-color: #2d5148;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.follow:hover {
  background-color: #35927b;
  transition: 0.3s;
}

.connect {
  font-size: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  border: 3px solid white;
}

.container header {
  border-bottom: solid 4px #246253;
  width: 40vw;
  margin-bottom: 5rem;
}

.container main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 10px 20px 0px rgba(36, 98, 82, 0.5);
  background-color: rgba(240, 248, 255, 0.203);
  border-radius: 20px;
}
.container h1 {
  font-size: 3.2rem;
  padding-left: 3rem;
  letter-spacing: 2px;
}
