.main h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.network-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 4rem;
  column-gap: 1.2rem;
  row-gap: 1.5rem;
}
