.container {
  /* border: 2px solid #246253; */

  border-radius: 20px;
  width: 18rem;
  box-shadow: 0 10px 20px 0px rgba(36, 98, 82, 0.5);
}

.profile-img {
  width: 65%;
  height: 10rem;
  border-radius: 20rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  /* background-color: hsla(165, 46%, 26%, 0.2); */
  background-color: rgba(240, 248, 255, 0.403);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 1rem 0.5rem;
}

.info h2 {
  border-bottom: 2px solid hsla(165, 46%, 26%, 1);
}

.buttons {
  padding: 1rem;
  background-color: rgba(240, 248, 255, 0.403);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  justify-content: space-evenly;
}

.button {
  font-size: 1rem;
  border: 2px solid #246253;
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
  color: #246253;
}
.unfollow {
  font-size: 1rem;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  border: 2px solid white;
  background-color: #2d5148;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.button:hover {
  cursor: pointer;
  background-color: #5cb8a1;
  transition: 0.3s;
}
