.followers-container {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: -2rem;
}

.numbers {
  border: 3px solid white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.numbers label {
  font-size: 1.2rem;
}
