.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.input {
  width: 50%;
  text-align: left;
  font-size: 1.5rem;
  background: none;
  border: 4px solid #246253;
  border-radius: 10px;
  padding: 0.5rem;
  color: #246253;
}

.input:focus {
  outline: none;
}

.input.invalid {
  border: 4px solid red;
}

::placeholder {
  color: #246253;
}

.login-button {
  background-color: #246253;
  color: white;
  font-weight: 800;
  width: 15%;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.3rem;
  border: 2px solid #246253;
  border-radius: 10px;
  cursor: pointer;

  font-family: "Roboto Slab", serif;
}

.login-button:hover {
  background-color: white;
  color: #246253;
  border: 4px solid #246253;
  /* box-shadow: 0 20px 40px 0px rgba(0, 0, 0, 0.516); */
}

.login-button:disabled {
  background-color: grey;
  border-color: grey;
  color: white;
  cursor: not-allowed;
  border: 2px solid white;
}
