.title {
  margin-left: 8rem;
  font-size: 2.5rem;
}

.modal-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 1.5rem;
  margin-top: -3rem;
}

.account-modal {
  box-shadow: 0 10px 20px 0px rgba(36, 98, 82, 0.5);
  border-radius: 20px;
  padding: 2rem 2.5rem;
  width: fit-content;
  height: fit-content;
}

.account-modal h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.account-modal p {
  margin-bottom: 1.5rem;
  text-align: center;
}

.account-modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.account-modal input {
  border: 4px solid #246253;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 15px;
  width: 20rem;
}

.account-modal button {
  width: 30%;
  color: white;
  background-color: #246253;
  font-weight: bolder;
  padding: 0.3rem;
  border: 2px solid #246253;
  border-radius: 10px;
  cursor: pointer;
}

/* //////////////////////////////////////////// */

.personal-modal {
  box-shadow: 0 10px 20px 0px rgba(36, 98, 82, 0.5);
  border-radius: 20px;
  padding: 1.5rem 2rem;
  width: fit-content;
  height: fit-content;
}

.personal-modal h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.personal-modal p {
  margin-bottom: 1.5rem;
  text-align: center;
}

.personal-modal form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.personal-modal input {
  border: 4px solid #246253;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 15px;
  width: 35rem;
}

.personal-modal select {
  border: 4px solid #246253;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 15px;
  width: 35rem;
  color: #246253;
}

.personal-modal button {
  width: 30%;
  color: white;
  background-color: #246253;
  font-weight: bolder;
  padding: 0.3rem;
  border: 2px solid #246253;
  border-radius: 10px;
  cursor: pointer;
}
