.account-container {
  display: flex;
  gap: 15rem;
  align-items: center;
  padding: 0.5rem;
  margin-top: -4.5rem;
  margin-bottom: 3rem;
}

.followers-container {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.numbers {
  border: 3px solid white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.numbers label {
  font-size: 1.2rem;
}

.account-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.account-container p {
  margin-bottom: 2rem;
}

.account-container button {
  width: 10rem;
  color: white;
  background-color: #246253;
  font-weight: bolder;
  padding: 0.3rem;
  border: 2px solid #246253;
  border-radius: 10px;
  cursor: pointer;
}

.account-container button:hover {
  cursor: pointer;
  background-color: #5cb8a1;
  transition: 0.3s;
}
