.modal-container {
  /* display: flex;
  align-items: flex-start;
  gap: 2rem; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2.5rem;
  padding: 0rem 2rem;

  align-items: flex-start;
  /* justify-items: center; */
}

.flex {
  display: flex;
  gap: 2rem;
}

.connect {
  display: flex;
  gap: 1rem;
  grid-column: 1 / span 4;
}

.personal {
  grid-row: 1 / 2;
}
