.modal-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2.5rem;
  padding: 0rem 2rem;

  align-items: flex-start;
}

.flex {
  display: flex;
  gap: 12rem;
}

.connect {
  font-size: 1rem;
  font-size: 1.1rem;
  gap: 1rem;
  grid-column: 1 / -1;
}

.personal {
  grid-row: 1 / 2;
}
