* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  max-width: 1440px;
  margin: 0 auto;
}

.spinner {
  display: flex;
  justify-content: center;
}
