* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  max-width: 1440px;
  margin: 0 auto;
  background: linear-gradient(
    50deg,
    rgba(255, 255, 255, 0.168),
    rgba(79, 154, 135, 0.5)
  );

  color: #246253;
}

.spinner {
  display: flex;
  justify-content: center;
}
